<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>
        VOD OSS
    </title>
    {% include 'include/static1st.html' %}
    <body>
        <!-- topmost nav -->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner nav-bg-color">
                <div class="container-fluid">
                    <a class="brand">
                        <span>VOD OSS</span>
                    </a>
                </div>
            </div>
        </div>
        <iframe id="content_iframe"
        src="mainDisplay"
        name="content_iframe" border="0" frameborder="0" scrolling="auto" scrolling-x="no"
        height="100%" width="100%" style="min-height:575px;height:93vh">
        </iframe>
    </body>
</html>
