        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/enable/jquery-3.0.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/dataTables.bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/echarts.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/map/china.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/map/world.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enable/map/province/guangdong.js' %}"></script>
        <link href="{% static 'css/enable/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/enable/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/enable/jquery.dataTables.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/enable/dataTables.bootstrap.min.css' %}" rel="stylesheet">
