{% load staticfiles %}
<!-- style sheets -->
<link rel="stylesheet" href="{% static 'css/pb/frame/reset.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/frame/base.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/frame/menu.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/plugins/jquery-ui-1.8.1.custom.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/plugins/jtip.css'%}" />

<link rel="stylesheet" href="{% static 'css/pb/frame/am-ui.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/frame/page_nav.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/plugins/ui.store.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/layout_style.css'%}" />
<link rel="stylesheet" href="{% static 'css/pb/ui.jqgrid.css'%}" />

    <!-- my -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" />
<!-- javascript -->

<script src="{% static 'js/pb/plugins/jquery-1.4.2.min.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery-ui-1.8.1.custom.min.js'%}"></script>
<script src="{% static 'js/pb/plugins/autocomplete.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery-ui-locale.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.blockUI.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.tree.js'%}"></script>
<script src="{% static 'js/pb/plugins/jtip.js'%}"></script>
<script src="{% static 'js/pb/plugins/FusionCharts.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.bgiframe-2.1.1.js'%}"></script>
<script src="{% static 'js/pb/base.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.store.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.cookie.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.rtx.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.json.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.hashchange.min.js'%}"></script>
<script src="{% static 'js/pb/am-core.js'%}"></script>
<script src="{% static 'js/pb/am-menu.js'%}"></script>
<script src="{% static 'js/pb/page_nav.js'%}"></script>
<script src="{% static 'js/pb/highcharts.src.js'%}"></script>
<script src="{% static 'js/pb/plugins/grid.locale-cn.js'%}"></script>
<script src="{% static 'js/pb/plugins/jquery.jqGrid.min.js'%}"></script>

<link rel="stylesheet" href="{% static 'css/fn/base.css'%}" />
<link rel="stylesheet" href="{% static 'css/fn/firstpage.css'%}" />

<script src="{% static 'js/pb/highcharts.src.js'%}"></script>
<script src="{% static 'js/fn/xpath.js'%}"></script>
<script src="{% static 'js/fn/SpryData.js'%}"></script>
<script src="{% static 'js/fn/SpryNestedXMLDataSet.js'%}"></script>
<script src="{% static 'js/fn/SpryPagedView.js'%}"></script>
<script src="{% static 'js/fn/SpryAutoSuggest.js'%}"></script>
<script src="{% static 'js/fn/tools.js'%}"></script>
<script src="{% static 'js/fn/firstpage.js'%}"></script>
