<!DOCTYPE html>
<html>
<head>
	<title>分发</title>
	{% load staticfiles %}
	{% include 'include/enable.html'%}
	<link href="{% static 'css/app/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app/templatemo-style.css' %}" rel="stylesheet">
</head>
<body>
<div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
                <li><a href="" class="active">主动分发</a></li>
                <li><a href="">302补分发</a></li>
                <li><a href="">业务分发</a></li>
                <li><a href="login">Sign in form</a></li>
              </ul>
            </nav>
          </div>
        </div>
</body>
</html>